/* Global styles */
body {
    background-color: #000000;
}

/* Navbar */
.navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-item a:hover {
    color: rgb(255, 196, 0); /* Change color when hovered */
}

.nav-link.active {
    text-decoration: underline;
}

.category-item, .genre-item {
    text-align: center;
}

.category-item p, .genre-item p {
    margin-top: 10px;
    font-size: 1.1rem;
}

.text-white {
    color: white;
}

/* Hero Section */
.hero-section .hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-section .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    padding: 30px;
    text-align: left;
    width: 100%;
}

.hero-section .caption h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-section .caption p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-section .cta-btn {
    font-size: 1.1rem;
    padding: 12px 30px;
    background-color: #FFB800; /* Dark Yellow */
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.hero-section .cta-btn:hover {
    background-color: #ff4400; /* Slightly darker color for hover */
}

/* Movies Section */
.movies {
    margin-top: 3rem;
}

.heading {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: azure;
    border-bottom: 1px solid #FFB800; /* Fixed border color */
}

.movies-container {
    max-width: 968px;  /* Matching width with heading */
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box .box-img {
    width: 100%;
    height: 270px;
    cursor: pointer;
}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .box-img img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.box h3 {
    font-size: 0.9rem;
    font-weight: 500;
    color: azure;
}

.box span {
    font-size: 14px;
    color: azure;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .hero-section .caption h1 {
        font-size: 2rem;
    }

    .hero-section .caption p {
        font-size: 1rem;
    }

    .hero-section .cta-btn {
        font-size: 1rem;
        padding: 10px 25px;
    }
}
